<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


    <bean id="gameField" class="core.GameFieldImpl" />
    <bean id="inStream" class="Game.console.InputOutputFactory"
          factory-method="inStream" />
    <bean id="outStream" class="Game.console.InputOutputFactory"
          factory-method="outStream" />

    <bean id="printer" class="Game.console.ANSIPrinter" >
        <constructor-arg ref="outStream"  />
        <constructor-arg ref="gameField" />
    </bean>
    <bean id="input" class="Game.console.GameInputControllerImpl" >
        <constructor-arg ref="inStream" />
    </bean>
    <bean id="controller" class="Game.GameController">
        <constructor-arg ref="gameField" />
        <constructor-arg ref="printer" />
        <constructor-arg ref="input" />
    </bean>


</beans>