<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">

		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/user" />
		<property name="username" value="root" />
		 <property name="password" value="masterkey" />
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="packagesToScan" value="users.model"/>
		<!--<property name="mappingResources">-->
			<!--<list>-->
				<!--<value>orm/Users.hbm.xml</value>-->
				<!--<value>orm/UserRoles.hbm.xml</value>-->
			<!--</list>-->
		<!--</property>-->
		<property name="hibernateProperties">
			<props>
				<prop key="show_sql">true</prop>
				<prop key="dialect">org.hibernate.dialect.MySQL5Dialect</prop>
				<prop key="hbm2ddl.auto">update</prop>
				<prop key="useUnicode">true</prop>
				<prop key="hibernate.id.new_generator_mappins">false</prop>
			</props>
		</property>
	</bean>

	<!--<bean id="userDao" class="users.dao.UserDaoImpl">-->
		<!--<property name="sessionFactory" ref="sessionFactory" />-->
	<!--</bean>-->
	<context:annotation-config/>
	<context:component-scan base-package="users"/>
	<bean id="myUserDetailsService" class="users.service.MyUserDetailsService">
		<property name="userDao" ref="userDao" />
	</bean>

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="get*" read-only="true" />
			<tx:method name="find*" read-only="true" />
			<tx:method name="*" />
		</tx:attributes>
	</tx:advice>
	<tx:annotation-driven proxy-target-class="true" transaction-manager="transactionManager"/>
	<aop:config>
		<aop:pointcut id="userServicePointCut"
			expression="execution(* users.service.*Service.*(..))" />
		<aop:advisor advice-ref="txAdvice" pointcut-ref="userServicePointCut" />
	</aop:config>

</beans>